@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Prata&display=swap");

.Marketplace {

  a {
    color: white;
    text-decoration: none;
  }

  h2,
  h4 {
    font-family: "Prata", serif;
  }

  img {
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 300px;
    border-radius: 10%;
    box-shadow: 5px 6px 6px -1px rgba(0, 0, 0, 0.21); 
      margin-block: 10px;
      
  }

  .header-wrapper {
    background-color: black;
    color: white;
    padding: 20px;

    nav {
      display: flex;
      justify-content: space-evenly;

      h2:hover {
        text-shadow: 2px 2px 8px #ffffff;
      }
    }
  }

  .category-wrapper {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .photo {
    display: grid;
    //creates 1 block
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    img,
    // > selects all div elements under the a
    > div {
      //puts the button and the clothing on top of each other, start at block 1, end at block 1
      grid-column: ~"1 / -1";
      grid-row: ~"1 / -1";
    }

    > div {
      z-index: 1;
    }
    &:hover {
      img {
        opacity: 0.2;
      }
      .description-wrapper {
        opacity: 1;
      }
    }
  }

  .description-wrapper {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    padding: 10px;
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 300px;

    h4,
    span {
      text-transform: capitalize;
      line-height: 1;
      font-weight: 700;
      margin-block: 3px;
    }

    span {
      font-weight: bold;
    }

    p {
      font-family: "Lato", sans-serif;
      line-height: 0.8;
      padding-left: 20px;
      font-weight: 500;
    }

    .description {
      padding: 5px;
     
    }
  }

  @media screen and (max-width: 720px) {
    text-align: center;
    align-items: center;

    .category-wrapper {
     

      grid-template-columns: 1fr;
    }
  }
}
